---
layout: base.njk
title: About
---
<div class="page-content">
  {# The Bio Box #}
  <div style="max-width: 800px; margin: 0 auto;">
    <div class="bio-text" style="font-family: 'Share Tech Mono', monospace; line-height: 1.6; font-size: 1.1rem; color: #000;">
      <p style="margin-bottom: 25px;">
        hi, i'm Johnny. I'm a first year maths student at university, interested in learning financial markets, programming and reading books. i'm 19 years old, turning 20 this year. this website was created to document my projects, reading list, and any random thoughts in a centralised, informal way. I hope you can see my passion in this website, expect additions soon!!! (i will try to make some fun new features soon) 
      </p>
    </div>
  </div>
</div>